<div class="navbar-brand-wrapper d-flex justify-content-center font-class box-shadow-nav">
    <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
        <a class="navbar-brand brand-logo" href="/dashboard"><img class="w-100 h-100" src="/images/o2.png" alt="logo" /></a>
        <!-- <a style="color: black; font-weight: 500;" class="navbar-brand brand-logo" href="/dashboard"><img class="img-fluid" src="images/mainLogo.png" alt="logo" /></a> -->
        <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="/images/o1.png" alt="logo" /></a>
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
        </button>
    </div>
</div>

