<nav class="sidebar sidebar-offcanvas font-class sidebar-css" id="sidebar">
    <ul class="nav">


      <li class="nav-item">
        <a class="nav-link pl-2" href="/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <!-- First Year -->
      <li class="nav-item">
        <a class="nav-link pl-2" data-toggle="collapse" href="#first-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">1st Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="first-year">
          <ul class="nav flex-column sub-menu pl-4">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/1/all">All Branches</a></li>
          </ul>
        </div>
      </li>

      <!-- Second Year -->
      <li class="nav-item">
        <a class="nav-link pl-2" data-toggle="collapse" href="#second-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">2nd Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="second-year">
          <ul class="nav flex-column sub-menu pl-4">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/bioTechEngineering">BioTech</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/civilEngineering">Civil</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/computerScienceAndEngineering">Computer Science</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/chemicalEngineering">Chemical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/electricalEngineering">Electrical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/electronicsAndCommunicationEngineering">Electronics &<br> Communication</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/mechanicalEngineering">Mechanical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/productionEngineering">Production</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/electronicsAndInstrumationEngineering">Electronics &<br> Instrumation</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/bsmsPhysics">BSMS<br>Physics</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/bsmsChemistry">BSMS<br>Chemistry</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/bsmsChemistry">BSMS<br>Maths</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/bsmsChemistry">Engineering<br>Physics</a></li>
          </ul>
        </div>
      </li>

      <!-- Third Year -->
      <li class="nav-item">
        <a class="nav-link pl-2" data-toggle="collapse" href="#third-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">3rd Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="third-year">
          <ul class="nav flex-column sub-menu pl-4">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/bioTechEngineering">BioTech</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/civilEngineering">Civil</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/computerScienceAndEngineering">Computer Science</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/chemicalEngineering">Chemical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/electricalEngineering">Electrical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/electronicsAndCommunicationEngineering">Electronics &<br> Communication </a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/mechanicalEngineering">Mechanical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/productionEngineering">Production</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/electronicsAndInstrumationEngineering">Electronics &<br> Instrumation</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/bsmsPhysics">BSMS<br>Physics</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/bsmsChemistry">BSMS<br>Chemistry</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/bsmsChemistry">BSMS<br>Maths</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/bsmsChemistry">Engineering<br>Physics</a></li>
          </ul>
        </div>
      </li>

      <!-- Fourth Year -->
      <li class="nav-item">
        <a class="nav-link pl-2" data-toggle="collapse" href="#fourth-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">4th Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="fourth-year">
          <ul class="nav flex-column sub-menu pl-4">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/bioTechEngineering">BioTech</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/civilEngineering">Civil</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/computerScienceAndEngineering">Computer Science</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/chemicalEngineering">Chemical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/electricalEngineering">Electrical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/electronicsAndCommunicationEngineering">Electronics &<br> Communication</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/mechanicalEngineering">Mechanical</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/productionEngineering">Production</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/electronicsAndInstrumationEngineering">Electronics &<br> Instrumation</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/bsmsPhysics">BSMS<br>Physics</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/bsmsChemistry">BSMS<br>Chemistry</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/bsmsChemistry">BSMS<br>Maths</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/bsmsChemistry">Engineering<br>Physics</a></li>
          </ul>
        </div>
      </li>

      <!-- Fifth Year -->
      <li class="nav-item">
        <a class="nav-link pl-2" data-toggle="collapse" href="#fifth-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">5th Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="fifth-year">
          <ul class="nav flex-column sub-menu pl-4">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/5/bsmsPhysics">BSMS<br>Physics</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/5/bsmsChemistry">BSMS<br>Chemistry</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/5/bsmsChemistry">BSMS<br>Maths</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/5/bsmsChemistry">Engineering<br>Physics</a></li>
          </ul>
        </div>
      </li>


    </ul>
  </nav>