<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">


      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <!-- First Year -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#first-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">1st Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="first-year">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/1/all">All Branches</a></li>
          </ul>
        </div>
      </li>

      <!-- Second Year -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#second-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">2nd Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="second-year">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/bioTechEngineering">BioTech Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/civilEngineering">Civil Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/computerScienceAndEngineering">Computer Science And Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/chemicalEngineering">Chemical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/electricalEngineering">Electrical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/electronicsAndCommunicationEngineering">Electronics And Communication Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/mechanicalEngineering">Mechanical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/productionEngineering">Production Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/2/electronicsAndInstrumationEngineering">Electronics And Instrumation Engineering</a></li>
          </ul>
        </div>
      </li>

      <!-- Third Year -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#third-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">3rd Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="third-year">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/bioTechEngineering">BioTech Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/civilEngineering">Civil Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/computerScienceAndEngineering">Computer Science And Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/chemicalEngineering">Chemical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/electricalEngineering">Electrical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/electronicsAndCommunicationEngineering">Electronics And Communication Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/mechanicalEngineering">Mechanical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/productionEngineering">Production Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/3/electronicsAndInstrumationEngineering">Electronics And Instrumation Engineering</a></li>
          </ul>
        </div>
      </li>

      <!-- Fourth Year -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#fourth-year" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">4th Year</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="fourth-year">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/bioTechEngineering">BioTech Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/civilEngineering">Civil Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/computerScienceAndEngineering">Computer Science And Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/chemicalEngineering">Chemical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/electricalEngineering">Electrical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/electronicsAndCommunicationEngineering">Electronics And Communication Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/mechanicalEngineering">Mechanical Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/productionEngineering">Production Engineering</a></li>
            <li class="nav-item"> <a class="nav-link" href="/dashboard/4/electronicsAndInstrumationEngineering">Electronics And Instrumation Engineering</a></li>
          </ul>
        </div>
      </li>


    </ul>
  </nav>