body{
    background-color: #212529;
    margin: 0;
    padding: 0;
}
.navbarText{
    color: whitesmoke !important;
    font-weight: 600;
}
.nav__logo{
    width: 21%;
}
.about__main{
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    
}
.about__content{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 3px solid white;
    padding: 30px;
    align-items: center;
    
}
.about__content p{
    font-size: 20px;
    font-weight: 300;
    
}
.about__content a{
    margin: auto;
}
.about__contactForm{
    width: 50%;
    padding: 30px;
}
.about__contactForm form{
    width: 70%;
   margin: auto;
}



@media only screen and (max-width:900px) {
    .about__main{
        flex-direction: column;
        margin-top: 10px;
    }

    .about__content{
        width: 100%;
    border-right: none;
    padding: 20px;
    align-items: center;
    }
    .about__contactForm{
        width: 100%;
        padding: 30px 10px;
    }
    .nav__logo{
        width: 50%;
    }
}