.category__main{
    font-family: 'Poppins', sans-serif !important;
    width: 70%;
}
.category__top{
    padding: 10px;
    text-align: center;
    background-color: #26323f;
}
.category__top h2{
    color: white; 
}
.category__top h5{
    color: white; 
    
}
.category__topDetail{
    margin: auto;
    /* justify-content: space-around; */
}
.category__topDetail h5{
    margin-right: 18px;
}
.category__uploadForm{
    margin-top: 10px;
}
.category__upload{
    margin-top: 10px;
}
.category__searchFiles{
    padding: 10px;
    margin-top: 20px;
}
.category__searchFiles input{
    margin-right: 5px;
    outline-width: 0;
}
.category__allFiles{
    padding: 5px;
    margin-top: 20px;
}

.category__file{
    margin: 5px;
    padding: 15px 10px 10px 10px;
}
.category__file h3{
    padding-left: 10px;
}
.category__fileBottom{
    display: flex;
    justify-content: space-between;
}
.category__fileBottom p{
    /* padding-bottom: 0px !important; */
    cursor: pointer;
    padding: 3px 5px;
    margin: 3px 10px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    text-decoration: none !important;
}
.category__fileBottom p:hover{
    background-color: rgb(204, 204, 204);
}
.category__fileBottomDate{
    
}
.category__fileBottomDate p{
    border: none;
    font-size: 12px;
    cursor: text;
}
.category__fileBottomDate p:hover{
    background-color: #fff;
}


.sidebar-css{
    box-shadow: 0px 0px 6px 1px #cccccc;
    border: none;
    background-color: #1f2833 !important;
    color: white !important;
    /* padding: 25px 0px !important; */

}

.sidebar-css a{
    color: white !important;
    text-decoration: none !important;
    
}
.sidebar-css li{
    border: none !important;
}
.sidebar-css i{
    color: #ff7940 !important;
}
.sidebar-css span{
    color: white !important;
    text-decoration: none !important;
}

.box-shadow-1{
    box-shadow: 0px 0px 12px 5px #9aa3ac;
}
.box-shadow-2{
    box-shadow: 0px 0px 5px 5px #d4e0eb;
}
.box-shadow-nav{
    box-shadow: 10px 0px 5px 2px #9aa3ac;
}


.homeBg{
   background-color: #dfe5eb;
    

}

@media only screen and (max-width:900px) {
    .category__main{
        width: 100%;
    }
    .pageWrapperP{
        padding: 20px 5px;
    }

}