.font-class{
    font-family: 'Poppins', sans-serif !important;

}
.dashboard__main{
    width: 70%;
    
}
.dashboard__top{
    padding: 10px;
    text-align: center;
    background-color: #26323f;
}

.dashboard__top h1{  
    color: white; 
    font-weight: 500;
    font-size: 42px;
}

.dashboard__top h5{  
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.dashboard__topContributer{
    margin-top: 30px;
    
}
.dashboard__topContributer table{
    border-color: #293e40;
}
.dashboard__topContributer h4{
    padding: 8px;
    text-align: center;
}
.dashboard__video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard__video video{
    width: 75%;
    padding: 10px 0px;
}


.dashboard__collegeQuora{
    margin-top: 15px;
}
.dashboard__collegeQuora h4{
    padding: 8px;
    text-align: center;
    
}
.dashboard__quoraInputQuestion{
    padding: 5px;
}
.dashboard__quoraInputQuestion input{
    margin-right: 5px;
    outline-width: 0;
}
.dashboard__questions{
    padding: 5px;
    
}
.dashboard__h4head{
    background-color: #26323f;
    color: white;
    border-radius: 4px 4px 2px 2px;
}
.dashboard__uploadForm{
    margin-top: 30px;
}
.category__uploadFormBottom{
    display: flex;
    justify-content: space-between;
    
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(71, 67, 67) !important;
    opacity: 1 !important; /* Firefox */
}

.sidebar-css{
    box-shadow: 0px 0px 6px 1px #cccccc;
    border: none;
    /* background-color: #7a92a5 !important; */
    background-color: #1f2833 !important;
    color: white !important;
    /* padding: 25px 0px !important; */

}

.sidebar-css a{
    color: white !important;
    text-decoration: none !important;
    
}
.sidebar-css li{
    border: none !important;
}
.sidebar-css i{
    color: #ff7940 !important;
}
.sidebar-css span{
    color: white !important;
    text-decoration: none !important;
}

.box-shadow-1{
    box-shadow: 0px 0px 12px 5px #9aa3ac;
}
.box-shadow-2{
    box-shadow: 0px 0px 5px 5px #d4e0eb;
}
.box-shadow-nav{
    box-shadow: 10px 0px 5px 2px #9aa3ac;
}
.user-profile i{
    color: #ff7940 !important;

}
.homeBg{
   background-color: #dfe5eb;
    

}

  



@media only screen and (max-width:900px) {
    .dashboard__main{
        width: 100%;
    }
    .pageWrapperP{
        padding: 20px 5px;
    }
    .dashboard__video video{
        width: 95%;
    }

}