.font-class{
    font-family: 'Poppins', sans-serif !important;

}
.dashboard__main{
    width: 70%;
    
}
.dashboard__top{
    padding: 10px;
    text-align: center;
}
.dashboard__topContributer{
    margin-top: 20px;
    
}
.dashboard__topContributer table{
    border-color: #293e40;
}
.dashboard__topContributer h4{
    padding: 8px;
    text-align: center;
}
.dashboard__collegeQuora{
    margin-top: 15px;
}
.dashboard__collegeQuora h4{
    padding: 8px;
    text-align: center;
}
.dashboard__quoraInputQuestion{
    padding: 5px;
}
.dashboard__quoraInputQuestion input{
    margin-right: 5px;
    outline-width: 0;
}
.dashboard__questions{
    padding: 5px;
    
}
.category__uploadForm{
    margin-top: 20px;
}
.category__uploadFormBottom{
    display: flex;
    justify-content: space-between;
    
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1 !important; /* Firefox */
}

.sidebar-css{
    box-shadow: 0px 0px 6px 1px #cccccc;
    border: none;
    background-color: #1f2833 !important;
    color: white !important;
    /* padding: 25px 0px !important; */

}

.sidebar-css a{
    color: white !important;
    text-decoration: none !important;
    
}
.sidebar-css li{
    border: none !important;
}
.sidebar-css i{
    color: #ff7940 !important;
}
.sidebar-css span{
    color: white !important;
    text-decoration: none !important;
}

.homeBg{
   background-color: #dfe5eb;
    

}

  



@media only screen and (max-width:900px) {
    .dashboard__main{
        width: 100%;
    }
    .pageWrapperP{
        padding: 20px 5px;
    }

}