body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    
    background-color: rgba(0, 0, 0, .35);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
   
}

.navbarText{
    color: #26323f !important;
    font-weight: 600;
}

.lp__body{
    padding: 50px;
    text-align: center;
}

.lp__body h4{
    margin-top: 90px;
    color: #26323f ;
}

.lp__body h1{
    margin-top: 45px;
    color: #26323f ;
    /* color: #293e40; */
}


.lp__bodyLogin{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    /* color: white !important; */
}

.lp__bodyLogin input{
    width: 500px;
}
/* .lp__bodyLogin a{
    color: white;
} */
.lp__bodyLogin p{
    margin: 0px;
}

@media only screen and (max-width:900px) {
    .lp__body{
        padding: 0px;
    }
    .lp__body h4{
        margin-top: 40px;
    }
    .lp__bodyLogin{
        margin-top: 50px;
    }
    .lp__bodyLogin input{
        width: 300px;
    }


}