.profile__main{
    font-family: 'Poppins', sans-serif !important;
    width: 70%;
}
.profile__top{
    padding: 20px;
    justify-content: space-around;
}

.profile__body{
    margin-top: 15px;
    width: 100%;
}



@media only screen and (max-width:900px) {
    .profile__main{
        width: 100%;
    }
    .profile__body{
        width: 100%;
    }
    .pageWrapperP{
        padding: 20px 5px;
    }

}